bin
build
EvtolSimulation.xcodeproj/project.pbxproj
EvtolSimulation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
EvtolSimulation.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
EvtolSimulation.xcodeproj/project.xcworkspace/xcuserdata/McGillDocs.xcuserdatad/UserInterfaceState.xcuserstate
EvtolSimulation.xcodeproj/xcuserdata/McGillDocs.xcuserdatad/xcschemes/xcschememanagement.plist
